#memuh1 {
	width: 100%;
	text-align: center;
	background-color: #7ecdf0;
	padding: 20px 0;
}

.menu-link {
	width: 30%;
	text-align: center;
	border: solid 2px #aab3b3;
	padding: 10px;
	background-color: #d1d1d1;
	padding: 20px 0;
	margin: 0 auto;
}