/* 共通 */
body {
	color: #333;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

#app-name {
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 20px 0;
	background-color: rgb(33, 33, 33);
	text-align: center;
	color: #feffff;
}

.center {
	margin: auto;
}

.txt_center {
	text-align: center;
}

.form_btm {
	color: #fff;
	background-color: rgb(33, 33, 33);
	padding: 10px 60px;
	border-radius: 17px;
}

/* menu画面 */
/* 登録・訂正画面 */
fieldset {
	border: none;
}

#form_table {
	margin: 0 auto;
}

.clm_label, .clm_form {
	text-align: left;
	padding: 10px 5px 0px 10px;
}

.register-form {
	width: 50%;
	/* 	height: 20px; */
	/* 	padding: 5px; */
	margin: 0 auto;
}

.register-form label {
	width: 165px;
	float: left;
	clear: both;
	display: block;
}

#tablevalue12 {
	margin: auto;
}

/* 一覧画面 */
.design03 {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #000000;
}

.design03 tr:nth-child(2n+1) {
	background: #eaeaea;
}

.design03 th, .design03 td {
	padding: 3px;
	border-bottom: solid 1px #000000;
}
/* 明細画面 */
table.temployeeDetail td, th {
	border-top: 1px solid #666;
	padding: 5px 20px;
}

table.temployeeDetail tr:last-child td, table.temployeeDetail tr:last-child th {
	border-bottom: 1px solid #666;
}

.tcareer {
	margin: auto;
	/* 	background-color: rgb(33, 33, 33); */
	border-bottom: 1px solid #666;
	text-align: center;
	padding: 10px 0;
	width: 60%;
	height: 20px;
	text-align: center;
}

table.tcareerDetail {
	text-align: center;
	margin: auto;
	border-collapse: collapse;
}

table.tcareerDetail th {
	border: 1px solid #000066;
	background: royalblue;
	padding: 4px 8px;
}

table.tcareerDetail td {
	border: 1px solid #000066;
	background: #ffffff;
	padding: 5px 35px;
}

.temployeeDetail {
	border-collapse: collapse;
	margin: 0 auto;
}
/* 完了画面 */