<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
<title>メニュー画面</title>
</head>
<body>
  <h1 id="app-name">（研修用）社員管理システム</h1>
  <h2>メニュー画面（EMPM01）</h2>

  <form class="txt_center" th:action="@{Register}">
    <button type="submit" class="form_btm">社員情報登録</button>
  </form>
  <form class="txt_center" th:action="@{EmployeeList}">
    <button type="submit" class="form_btm">社員情報一覧</button>
  </form>
</body>
</html>
