<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
<title>社員情報登録画面</title>
</head>
<body>
  <h1 id="app-name">（研修用）社員管理システム</h1>
  <th:block th:unless="${insertForm.id}">
    <h2>社員情報登録画面 (SEMPM02)</h2>
  </th:block>
  <th:block th:if="${insertForm.id}">
    <h2>社員情報訂正画面 (SEMPM02)</h2>
  </th:block>
  <h2 class="txt_center">基本情報</h2>
  <div th:if="${validationError}" th:each="error : ${validationError}">
    <p style="color: red;" th:text="${error}"></p>
  </div>
  <form method="post" action="/app_kensyu/insert" th:object="${insertForm}">
    <table id="form_table">
      <tr class="low_id">
        <td class="clm_label"><label for="id">ID</label></td>
        <td class="clm_form"><th:block th:unless="*{id}">
            <p id="id">※システムで自動採番されます</p>
          </th:block> <th:block th:if="*{id}">
            <p id="id" th:text="${id}"></p>
          </th:block></td>
      </tr>
      <tr class="low_name">
        <td class="clm_label"><label for="name">社員名</label></td>
        <td class="clm_form"><input type="text" name="name" th:value="${name}"></td>
      </tr>
      <tr class="low_sex">
        <td class="clm_label"><label for="sex">性別</label></td>
        <td class="clm_form"><input type="radio" th:each="s : ${sexMap}" id="sex" name="sex" th:value="${s.key}" th:text="${s.value}"
          th:checked="${s.key == sex}"
        ></td>
      </tr>
      <tr class="low_birthday">
        <td class="clm_label"><label for="birthday">生年月日</label></td>
        <td class="clm_form"><input type="date" name="birthday" th:value="${birthday}" max="9999-12-31"></td>
      </tr>
      <tr class="low_zip" id="result">
        <td class="clm_label"><label for="zip">郵便番号</label></td>
        <td class="clm_form"><input type="text" id="postcode" name="zip" th:value="${zip}" placeholder="9999999">
          <button type='button' id="btn">検索</button></td>
      </tr>
      <tr class="low_address1">
        <td class="clm_label"><label for="address1">住所1</label></td>
        <td class="clm_form"><input type="text" name="address1" th:value="${address1}"></td>
      </tr>
      <tr class="low_address2">
        <td class="clm_label"><label for="address2">住所2</label></td>
        <td class="clm_form"><input type="text" name="address2" th:value="${address2}"></td>
      </tr>
      <tr class="low_nyushaym">
        <td class="clm_label"><label for="nyushaym">入社年月</label></td>
        <td class="clm_form"><input type="text" name="nyushaym" th:value="${nyushaym}"></input></td>
      </tr>
      <tr class="low_division">
        <td class="clm_label"><label for="division">所属部署</label></td>
        <td class="clm_form"><select id="division" name="division">
            <option th:each="d : ${divisionMap}" th:value="${d.key}" th:selected="${d.key == division}">[[${d.value}]]</option>
        </select></td>
      </tr>
      <tr class="low_hobby">
        <td class="clm_label"><label for="hobby">趣味</label></td>
        <td class="clm_form"><th:block th:each="h : ${hobbyMap}">
            <input type="checkbox" class="hobby-input" name="hobby" th:value="${h.key}" th:text="${h.value}"
              th:checked="${hobby1 == h.key || hobby2 == h.key || hobby3 == h.key}"
            >
            <br>
          </th:block></td>
      </tr>
      <tr class="
            low_selfIntro">
        <td class="clm_label"><label for="selfIntro">自己紹介</label></td>
        <td class="clm_form"><textarea id="selfIntro" name="selfIntro" th:utext="${selfIntro}" placeholder="自己紹介文を入力してください。" rows="3" cols="30"></textarea></td>
      </tr>
    </table>
    <br>
    <div class="txt_center">
      <label for="work-history">職歴情報</label><input type="button" id="work-history" value="追加" onclick="coladd()">
      <table id="tablevalue12">
        <tr>
          <td>開始期間</td>
          <td>終了期間</td>
          <td>案件名</td>
          <td>編集</td>
        </tr>
        <th:block th:if="${tcareerList == null}">
          <tr>
            <td><input type="date" th:field="*{tcareerList[0].startDate}"></td>
            <td><input type="date" th:field="*{tcareerList[0].endDate}"></td>
            <td><input type="text" th:field="*{tcareerList[0].proposition}"></td>
            <td><input type="button" value=削除 id="coldel_btn"></td>
          </tr>
        </th:block>
        <th:block th:if="${tcareerList != null}">
          <tr th:each="tcareer, i : ${tcareerList}">
            <td><input type="date" name="tcareerList[0].startDate" th:value="${tcareerList[i.index].startDate}"></td>
            <td><input type="date" name="tcareerList[0].endDate" th:value="${tcareerList[i.index].endDate}"></td>
            <td><input type="text" name="tcareerList[0].proposition" th:value="${tcareerList[i.index].proposition}"></td>
            <td><input type="button" value=削除 id="coldel_btn" onclick="coldel(this)"></td>
          </tr>
        </th:block>
      </table>
    </div>
    <br>
    <div class="txt_center">
      <button type="submit" class="form_btm">登録</button>
    </div>
  </form>
  <form method="get" action="/app_kensyu/menu">
    <button type="submit">戻る</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/Register.js}"></script>
</body>
</html>
